<template>
  <div>
    <div>
      <b-button variant="success" class="float-right" @click="addNewUser"
        >Add New</b-button
      >
      <b-modal
        id="modal-form-user"
        ref="modal-form-user"
        :title="title"
        @hidden="resetModal"
        @ok="handleOk"
      >
        <form ref="form" @submit.stop.prevent="handleSubmit">
          <b-form-group
            label="Firstname"
            label-for="firstname"
            :invalid-feedback="invalidFeedbackname"
            :valid-feedback="invalidFeedbackname"
            :state="statename"
          >
            <b-form-input
              id="firstname"
              v-model="form.firstname"
              required
            ></b-form-input>
          </b-form-group>
          <b-form-group
            label="Lastname"
            label-for="lastname"
            :invalid-feedback="invalidFeedbackname"
            :valid-feedback="invalidFeedbackname"
            :state="statename"
          >
            <b-form-input
              id="lastname"
              v-model="form.lastname"
              required
            ></b-form-input>
          </b-form-group>
          <b-form-group
            label="Gender:"
            label-for="gender"
            :invalid-feedback="invalidFeedbackGender"
            :valid-feedback="invalidFeedbackGender"
            :state="stateGender"
          >
            <b-form-select
              id="gender"
              v-model="form.gender"
              :options="genderOptions"
              required
            ></b-form-select>
          </b-form-group>
          <b-form-group label="Username" label-for="username">
            <b-form-input
              id="username"
              v-model="form.username"
              required
            ></b-form-input>
          </b-form-group>
          <b-form-group label="Password" label-for="password">
            <b-form-input
              id="password"
              v-model="form.password"
              required
            ></b-form-input>
          </b-form-group>
          <b-form-group label="Birthday" label-for="birthday">
            <b-form-input
              id="birthday"
              v-model="form.birthday"
              placeholder="dd/mm/yyyy"
              required
            ></b-form-input>
          </b-form-group>
          <b-form-group label="Email" label-for="email">
            <b-form-input
              id="email"
              v-model="form.email"
              required
            ></b-form-input>
          </b-form-group>
          <b-form-group label="PhoneNo" label-for="phoneNo">
            <b-form-input
              id="phoneNo"
              v-model="form.phoneNo"
              required
            ></b-form-input>
          </b-form-group>
          <!-- <b-form-group label="Lastname" label-for="name">
            <b-form-input
              id="Lastname"
              v-model="form.Lastname"
              required
            ></b-form-input>
          </b-form-group> -->
        </form>
        <b-card class="mt-3" header="Form Data Result">
          <pre class="m-0">{{ form }}</pre>
        </b-card>
      </b-modal>
      <b-table striped hover :items="userList" :fields="fields">
        <template v-slot:cell(operation)="data">
          <div>
            <b-button @click="editUser(data.item)">Edit</b-button>
            &nbsp;
            <b-button variant="danger" @click="delUser(data.item)"
              >Delete</b-button
            >
          </div>
        </template>
      </b-table>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: 'เพิ่มผู้ใช้ใหม่',
      form: {
        id: -1,
        firstname: '',
        lastname: '',
        gender: null,
        username: '',
        password: '',
        birthday: '',
        email: '',
        phoneNo: '',
        state: 'ว่างงาน'
      },
      genderOptions: [
        { text: 'Select One', value: null },
        { value: 'M', text: 'ผู้ชาย' },
        { value: 'F', text: 'ผู้หญิง' }
      ],
      userList: [
        {
          id: 1,
          firstname: 'kamonchanok',
          lastname: 'krikri',
          gender: 'F',
          username: 'jookoo555',
          password: 'jkoo123',
          birthday: '06-07-1980',
          email: 'jrookoo@gmail.com',
          phoneNo: '012-4512415',
          state: 'ว่างงาน'
        },
        {
          id: 2,
          firstname: 'kimochi',
          lastname: 'sarahe',
          gender: 'M',
          username: 'sarahe111',
          password: 'koko123',
          birthday: '07-07-1999',
          email: 'sarahe113@gmail.com',
          phoneNo: '098-8787457',
          state: 'มีงาน'
        }
      ],
      lastId: 3,
      fields: [
        'id',
        'firstname',
        'lastname',
        'gender',
        'username',
        'password',
        'birthday',
        'email',
        'phoneNo',
        'state',
        'operation'
      ]
    }
  },
  methods: {
    addNewUser () {
      console.log('Add new user')
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      console.log('Edit ')
      console.log(user)
      this.title = 'แก้ไขผู้ใช้'
      this.form = { ...user }
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      console.log('Delte ')
      console.log(user)
      this.$bvModal
        .msgBoxConfirm('จะลบ ' + user.firstname + ' หรือไม่!!!!', {
          title: 'กรุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            this.deleteUser(user)
          }
        })
    },
    resetModal () {
      this.form = {
        id: -1,
        firstname: '',
        lastname: '',
        gender: null,
        username: '',
        password: '',
        birthday: '',
        email: '',
        phoneNo: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // check validate
      if (this.stateFirstname === false || this.stateGender === false || this.statelastname === false) {
        return
      }
      // Do when pass   validation
      if (this.form.id > 0) {
        this.updateUser(this.form)
      } else {
        this.addUser(this.form)
      }

      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    addUser (user) {
      user.id = this.lastId++
      this.userList.push(user)
    },
    updateUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1, user)
    },
    deleteUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1)
    }
  },
  computed: {
    statename () {
      return this.form.firstname.length >= 2
    },
    invalidFeedbackname () {
      if (this.form.firstname.length > 2) {
        return ''
      } else if (this.form.firstname.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 4 ตัวอักศร.'
      } else {
        return 'ต้องใส่ชื่อ.'
      }
    },
    validFeedbackname () {
      return this.stateFirstname === true ? 'สำเร็จ' : ''
    },
    stateGender () {
      return this.form.grnder != null
    },
    invalidFeedbackGender () {
      if (this.form.gender != null) {
        return ''
      } else {
        return 'กรุณาเลือกเพศ!!'
      }
    },
    validFeedbackGender () {
      return this.stategender === true ? 'สำเร็จ' : ''
    }
  }
}
</script>
